p {
    color: gray;
    font-size: 20px;
}

#email {
    color: blue;
    font-size: 18px;
}

nav {
/*    background-color: lightsteelblue;*/
    color: cornflowerblue;
    font-size: 16px;
}

#footer {
    font-style: italic;
}

aside {
    float: left;
}
/*img {
    display: block;
    float: left;
}
*/
/*#titulo {
    height: 100;
    width: 100;
    display: block;
    float: inherit;
}*/