/*.data {
  clear: both;
  width: 100%;
}

#senate-data {
  border-collapse: collapse;
}

#senate-data th, td {
  padding: 10px 15px;
}

header{
  margin: 10px 15px;
  position: relative;
}

div {
  margin-left: 15px;
}
*/
tr, td, tbody {
  text-align: center;
}

.encabezado {
text-align: center;
font: italic 40px serif ;
background-color: lightgray;
padding: 0;
}

.imagen {
  border-radius: 8px;
}
