</html>
<!DOCTYPE html>
<html>

<head>
  <title>Senate Statistics Attendance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container" id="app">
<!--    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Party</th>
        <th>Rate</th>
      </tr>
      <tr v-for="miembro in miembros">
        <td>{{`${miembro.first_name} ${miembro.last_name}`}}</td>
        <td>{{miembro.last_name}}</td>
        <td>{{miembro.party}}</td>
      </tr>
    </table>-->
    <table>
      <tr><th>Name</th><th>id</th><th>Votos</th></tr>
      <tr v-for="least in leastEngagedMembers">
        <td>{{ least }}</td>
      </tr>
    </table>
    <p>{{ estadistica }}</p>
  </div>
  <p id="app2">hola {{ saludo }}</p>
<!--  <div class="container" id="app2">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Party</th>
        <th>Rate</th>
      </tr>
      <tr v-for="less in leastengaged">
        <td>{{`${less.first_name} ${less.last_name}`}}</td>
        <td>{{less.last_name}}</td>
        <td>{{less.party}}</td>
      </tr>
    </table>
  </div>-->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!--<script src="../js/mkStat.js"></script>-->
  <script>
    const url = 'https://api.propublica.org/congress/v1/113/senate/members.json'
    const init_str = {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        'X-API-Key': 'L6x2Gbl9kawrKwFw4kQp75kCXLgCQokZEtDC1zFN',
      },
      mode: 'cors',
    }

    new Vue({
      el: '#app',
      data: {
        miembros: [],
        leastEngagedMembers: []
      },
      computed: {
        estadistica () {
          a = this.miembros.reduce(suma, 0)
          return a
        },
        least_engaged: function() {
          console.log(miembros)
          return leastEngagedMembers = this.miembros.filter(el => el.votes_with_party_pct)
        }
      },
      created() {
        fetch(url, init_str)
          .then(response => response.json())
          .then(json => this.miembros = json.results[0].members)
      }
    })

    function suma(total, ele) {
      return total + ele.votes_with_party_pct
    } 
    new Vue({
      el: '#app2',
      data: {
        saludo: 'lindo!!!'
      },
    })
//    leastengaged = statistics.least_engaged

  </script>
</body>

</html>