/*.reglas {
  font-family: "Lato", sans-serif; 
}*/

.encabezado {
  background:/* #2db34a verde*/ cadetblue;
  border-radius: 8px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}

.encabezado:before,
.encabezado:after {
  content: "";
  display: table;
}
.encabezado:after {
  clear: both;
}
.encabezado {
  clear: both;
  *zoom: 1;
}


.encabezado img {
    float: left;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 26px;
    left: 30px;
/*    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
*/}

#links {
  text-align: center;
  width: auto;
  font-family: "Lato", sans-serif; 
  /*font-style: normal;*/
}

#links a {
  display: inline-block;
  margin: 0 10px;
}

#links a:hover {
  background: rgb(99, 181, 185);
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
/*
#links a {
  padding: 20px;
}*/

/*
.primary-footer:link {
  text-align: right;
}*/

section {
  float: right;
  margin: 0 1.5%;
  width: 60%;
}

aside {
  float: left;
  margin: 0 1.5%;
  /*width: 30%;*/
}

aside img {
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 8px;
  height: 400px;
  width: auto;
}

section h2 {
  text-align: center;
}

.primary-footer small {
  float: left;
}

.primary-footer {
  padding-bottom: 14px;
  padding-top: 14px;
  clear: both;
  background:#2db34a /* cadetblue*/;
  border-radius: 2px;
  color: #fff;
  display: block;
/*  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;*/
}

.enlaces {
  text-align: right;
}
.enlaces li {
  display: inline-block;
  margin: 0 20px;
  vertical-align: top;
}
.enlaces li:last-child {
  margin-right: 10px;
}

heading {
  text-align: center;
  font-family: "Lato", sans-serif; 
}

/* rules.css */
h4 {
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
/*  line-height: 2em;*/
}

h2 {
  font-size: 2em;
  line-height: 1.5em;
}

/*ul {
  padding-block-start: 0.5em;
}*/

li {
  font-size: 0.9em;
  padding-left: 10px;
}

header {
  text-align: center;
}

.email {
  float: right;
  width: 40%;
  text-align: right;
  padding-right: 15px;
  }

.phone {
  float: left;
  width: 40%;
  padding-left: 30px;
  }

.bold {
  font-weight: bold;
}

table {
  border-collapse: collapse;
}
th,
td {
  border: none; /*1px solid #cecfd5;*/
  padding: 10px 15px;
}

.data {
  clear: both;
  width: 100%;
}

.enviar_form {
  clear: both;
  float: bottom;
}

.formulario {
  float: left;
}